body {
    font-family: tahoma;
    padding-top: 51px;
    background: #111111;
/*    max-width:100%;
    max-height:100%;*/
    /*background-image: url("img/ptn.jpg");*/
}

a:hover{
    cursor: pointer;
}

/*
bootstrap classes
*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}

/*
.form-signin
*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input.username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    direction: ltr;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    direction: ltr;
}
.form-signin .alert {
    margin-top: 20px;
}

/*
panels
*/
.panels {
    /*background-image: url("img/bg-1.jpg");*/
}
.panels .pnl {
    /*background-color: red;*/
    margin-top: 25px;
    border-radius: 10px;
    min-height: 200px;
    padding: 10px;
}

.panel .panel-heading {
    height: 40px;
}

.panel .panel-heading h3{
    margin-top: 0px;
    font-size: 15px;
}

.panel .panel-heading p{
    /*position: relative;*/
    color: black;
    font-size: 10px;
    direction: rtl;
/*    padding-left: 85%;
    top: 0%;*/
}
.panel .panel-body .img-featuerd{
    max-width:100%;
    max-height:100%;
    border: 1px solid black;
    border-radius: 5px;
}

.panel .panel-body .game-favorit-icon{
    display:inline-block;position:relative;overflow:hidden;
}

.img2f{float:left;width:32px;height:32px;margin-right:5px;}

.panel .panel-body .game-icon{
    width:32px;position:relative;
}

.panel .panel-body .game-favorit-icon:hover{
    color: darkred;
}

/*
.login-mode
*/
.login-mode {
    direction: ltr;
    text-align: center;
}

.login-mode form {
        margin-top: 30px;
}

.login-mode h1{
    color: white;
}

.login-mode button{
    width: 150px;
    margin-left: 15px;
    font-size: 20px;
    font-style: bold;
}

.login-mode .texts{
    /*margin-top: 15%;*/
    padding-top: 5%;
    font-size: 15px;
    font-style: bold;
    color: #565656;
}

.login-mode .singup-text {
    margin-top: 5%;
    color: #565656;
}
/*
.navbar
*/
.navbar {
    background-color: #186628;
    /*background-color:#2D6B3A;*/
    color: black;
}

/*
.loading
*/
.fast-load:hover{
    color: lightblue;
}


/*
.image tabel
*/
/*.img-tb {
    border-style:
}*/


/*
game table
*/
.game-tb {
    /*margin-left: 25%;*/
    /*display: inline-flex;*/
/*    border: 2px solid lightgreen;
    border-radius: 5px;*/
    /*background-color: white;*/
}

.game-tb .gm-img {
    border: 2px solid black;
    border-radius: 5px;
}